
.button{
  display: inline-block;
  background: #faf7f5;
  margin: auto;
  padding: 15px;
  border-radius: 5px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 200px;
  height: 15px;
}

.button:hover {
  background: #C75146;
  text-decoration: none;
}

.btn{
  color: #C75146;
  text-decoration: none;
}

.btn:hover{
  color: #faf7f5;
  text-decoration: none;

}